@page "/proxies"


@using Ocelot.Dashboard.Model
@using Ocelot.Dashboard.Service
@inject OcelotService OcelotService
<h3>Proxies</h3>
@if (result != null)
{
    <div class="@(result.Success?"sucess":"fail")">
        <span>@result.Msg</span>
    </div>
}


<table class="table table-striped table-bordered table-hover table-condensed">
    <tr>
        <th colspan="2">Consul Configuration</th>
    </tr>
    <tr>
        <td>Host</td>
        <td><input type="text" name="Host" @bind="OcelotConfig.GlobalConfiguration.ServiceDiscoveryProvider.Host" /></td>
    </tr>

    <tr>
        <td>Port</td>
        <td><input type="text" name="Port" @bind="OcelotConfig.GlobalConfiguration.ServiceDiscoveryProvider.Port" /></td>
    </tr>
    <tr>
        <td>Type</td>
        <td><input type="text" name="Type" @bind="OcelotConfig.GlobalConfiguration.ServiceDiscoveryProvider.Type" /></td>
    </tr>
</table>


<table class="table table-striped table-bordered table-hover table-condensed">
    <tr>
        <th colspan="7">Routes <a href="" style="float:right;">Add</a></th>
    </tr>
    <tr>
        <th>ServiceName</th>
        <th>DownstreamScheme</th>
        <th>UpstreamPathTemplate</th>
        <th>DownstreamPathTemplate</th>
        <th>UpstreamHttpMethod</th>
        <th>LoadBalancerOptions</th>
        <th>Operation</th>
    </tr>
    @foreach (ReRoute item in OcelotConfig.ReRoutes)
    {
        <tr>
            <td>@item.ServiceName</td>
            <td>@item.DownstreamScheme</td>
            <td>@item.UpstreamPathTemplate</td>
            <td>@item.DownstreamPathTemplate</td>
            <td>@(string.Join(',', item.UpstreamHttpMethod))</td>
            <td>@item.LoadBalancerOptions.Type</td>
            <td><a href="javascript:">Edit</a><span style="margin:0 10px;">|</span><a href="javascript:">Delete</a></td>
        </tr>
    }

</table>

<div>
    <button class="btn btn-primary" @onclick="Save">Save</button>

</div>
@code {
    private OcelotConfig OcelotConfig;
    private Result result = null;

    protected override async Task OnInitializedAsync()
    {
        OcelotConfig = await OcelotService.GetOcelotConfigAsync();
    }

    protected async Task Save()
    {
        result = await OcelotService.SetOcelotConfigAsync(OcelotConfig);
    }
}
